In [10]:
import torch 
from torch import nn
import numpy as np
import math
import pandas as pd


if torch.cuda.is_available():
    device = torch.device("cuda:0")
    print("Cuda Device Available")
    print("Name of the Cuda Device: ", torch.cuda.get_device_name())
    print("GPU Computational Capablity: ", torch.cuda.get_device_capability())
    
def ChangeDateShiller(date):
    date = date.split()
    firstElement = date[0]
    firstElement = firstElement.split('-')
    firstElement[0], firstElement[1] = firstElement[1], firstElement[0]
    firstElement[1], firstElement[2] = firstElement[2], firstElement[1]
    if len(firstElement[0]) == 1:
        firstElement[0] = "0" + firstElement
    if len(firstElement[1]) == 1:
        firstElement[1] = "0" + firstElement
    firstElement = "/".join(firstElement)
    return firstElement
    
def BuildSandPDataSet():
    df = pd.read_csv("SandP500Data.csv", sep = ',')
    df.drop('Volume', inplace = True, axis=1)
    df = df.sort_index(axis=0,ascending=False).reset_index()
    df.drop('index', inplace = True, axis = 1)
    return df

def BuildShillerPeDataSet():
    df = pd.read_csv("ShillerPERatio.csv", sep = ',', skiprows = [0])
    df = df.rename(columns={'DateTime': 'Date'})
    df['Date'] = df['Date'].apply(ChangeDateShiller)
    return df
    
A = BuildSandPDataSet()
print(A.head())
S = BuildShillerPeDataSet()
print(S.tail())

dfinal = A.merge(S, on="Date", how = 'inner')
dfinal

Cuda Device Available
Name of the Cuda Device:  NVIDIA GeForce RTX 3060 Laptop GPU
GPU Computational Capablity:  (8, 6)
         Date  Close/Last     Open     High      Low
0  02/20/2012     1361.23     0.00     0.00     0.00
1  02/21/2012     1362.21  1361.22  1367.76  1358.11
2  02/22/2012     1357.66  1362.11  1362.70  1355.53
3  02/23/2012     1363.46  1355.13  1364.24  1352.67
4  02/24/2012     1365.74  1363.46  1368.92  1363.46
         Date  Shiller PE Ratio
0  02/01/1871             10.92
1  03/01/1871             11.19
2  04/01/1871             12.05
3  05/01/1871             12.59
4  06/01/1871             12.59

          Date  Close/Last     Open     High      Low  Shiller PE Ratio
0   03/01/2012     1374.09  1365.90  1376.17  1365.90             22.05
1   05/01/2012     1405.82  1397.86  1415.32  1395.73             20.94
2   06/01/2012     1278.04  1309.87  1309.87  1277.25             20.55
3   08/01/2012     1375.32  1379.32  1385.03  1373.35             21.41
4   10/01/2012     1444.49  1440.90  1457.14  1440.90             21.58
..         ...         ...      ...      ...      ...               ...
95  11/30/2021     4567.00  4640.25  4646.02  4560.00             38.54
96  12/01/2021     4513.04  4602.82  4652.94  4510.27             38.66
97  12/31/2021     4766.18  4775.21  4786.83  4765.75             39.98
98  01/31/2022     4515.55  4431.79  4516.89  4414.02             37.31
99  02/01/2022     4546.54  4519.57  4550.49  4483.53             37.56

[100 rows x 6 columns]